<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<header >
  <nav>
    {% for nav in site.navs %}
    <a href="{{site.url}}{{nav.href}}">{{nav.lable}}</a>
    {% endfor %}
  </nav>
</header>
<!-- hack iOS CSS :active style -->

<body ontouchstart="">
  <!-- {% include nav.html %} -->

  {{ content }}

  <!-- {% include footer.html %} -->


  <!-- Image to hack wechat -->

  <!-- <img src="/img/apple-touch-icon.png" width="0" height="0" /> -->

  <!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
